

.passport {
    background-image: url('images/bgsexy4.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: soft-light;
    width: 550px;
    height: 330px;
    display: flex;
    margin: auto;
    border-radius: 10px;
    box-shadow: 1px 1px 4px 4px rgb(175, 133, 133); 
    background-color: rgba(255, 248, 248, 0.856);
}

@media only screen and (max-width: 600px) {
    .passport {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-wrap: wrap;
    }
  }

.input {
    width: 250px;
    padding: 20px;
}

#name {
    width: 230px;
    height: 35px;
    margin-bottom: 10px;
    box-shadow: 1px 1px inset rgb(207, 158, 207);
}

#e-mail {
    width: 230px;
    height: 35px;
    margin-bottom: 10px;
    box-shadow: 1px 1px inset rgb(207, 158, 207);
}

#number {
    width: 230px;
    height: 35px;
    box-shadow: 1px 1px inset rgb(207, 158, 207);
}

.display {
    padding: 20px 0px 20px 25px;
}

@media only screen and (max-width: 600px) {
    .display {
        padding: 10px 0px 10px 25px;
    }
  }

.display img{
    border-radius: 10px;
    width: 180px;
    height: 180px;
}

.display p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#submit {
    background-color: rgb(236, 34, 68);
    color: aliceblue;
    border: none;
    border-radius: 10px;
    width: 70px;
    height: 25px;
}

#submit:hover {
    border: 1px solid rgb(236, 34, 68);
    border-radius: 15px;
}