

h1{
    text-align: center;
}

h2{
    text-align: center;
}

h3{
    text-align: center;
}

.score {
    text-align: center;
}

.calc {
    margin: auto;
    padding-left: 5px;
    padding-top: 5px;
    box-shadow: 1px 1px 4px 4px rgb(175, 133, 133);
    background-color: rgba(243, 243, 243, 0.856);
    width: 260px;
}

p {
    text-align: center;
}


#nine{
    width: 250px;
    height: 70px;
    background-color: rgb(141, 114, 114);
    color: aliceblue;
    border: none;
}


.flex {
    padding-top: 10px;
}

button{
    text-align: center;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    border: 2px solid rgb(31, 1, 1);
    background-color: bisque;
    color: black;
}

button:hover {
    background-color: rgb(31, 1, 1);
    border: 2px solid whitesmoke;
    color: whitesmoke;
}

#no-16 {
    background-color: rgb(31, 1, 1);
    color: whitesmoke;
    border: 1px hidden black;
    font-size: 20px;
}

#ninne{
    font-weight: bold;
    font-size: 20px;
}

#nine{
    font-size: 20px;
}

#ninn{
    font-weight: bold;
    font-size: 20px;
}

#clear{
    font-weight: bold;
    font-size: 20px;
}

#nin{
    font-weight: bold;
}
